# Default
*                       @mhibajene

# App & UI
/apps/**                @mhibajene
/packages/ui/**         @mhibajene

# CI/workflows & guards
/.github/**             @mhibajene
/scripts/ci/**          @mhibajene