# node
node_modules
packages/*/node_modules
apps/frontend/node_modules

# Python
**/__pycache__
**/*.py[cod]
.venv
.env

# Git
.git
.gitignore

# Build outputs & logs
.dockerignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
turbo/

# OS artifacts
.DS_Store
Thumbs.db